@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap');

:root {
  --family: 'Exo 2', sans-serif;

  --fw-thin: 100;
  --fw-normal: 400;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--family);
  font-weight: var(--fw-normal);

  height: 100vh;
  background-color: #000000;
  background-image: url('./assets/images/Pattern.png');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  color: #ffffff
}